<html>
	{% load static %}
	<head>
		<title> Flairme: Home </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<style>
			.imgCenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
			/*width: 50%;*/
		}
		</style>
	</head>

	<body>
		<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
			
			<a class="navbar-brand" href="#">
				<img src="{% static "reddit-logo.png" %}" width="30" height="30" alt="">
				FlairMe
			</a>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/home/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home/">FlairmeReddit</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/statistics/">Statistics</a>
					</li>
				</ul>
			</div>
		</nav>

		<br><br><br><br>

		<h1> Sorting by {{ sort }} for {{ limit }} reddit posts</h1>

		<img src = "{% static graph %}" height="500" width="500" class="imgCenter" align="center">

		<h1>Statistics</h1>

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Particulars</th>
					<th scope="col">Flair</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Most Popular</th>
					<td>{{ top }}
				</tr>
				<tr>
					<th scope="row">Least Popular</th>
					<td>{{ bottom }}
				</tr>
			</tbody>
		</table>
	</body>
</html>